.maincontainer {
    width: 970px;
}

h1 {
    width:500px;
    margin: 0 auto;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

thead {
    background-color: grey;
}
td {
    padding: 3px;
    border-right: 1px solid black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}